name: CommitChecks

on:
  push:
    branches:
      - "**"

jobs:
  package-test:
    runs-on: macos-15

    steps:
      - uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: "16.4"
      - uses: actions/checkout@v4
      - name: Run Test
        run: swift test

  build-development:
    runs-on: macos-15

    steps:
      - uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: "16.4"
      - uses: actions/checkout@v4
      - name: Build Development project
        run: |
          xcodebuild \
            -skipMacroValidation \
            -skipPackagePluginValidation \
            -project Development/Development.xcodeproj \
            -scheme Development \
            -destination 'generic/platform=iOS Simulator' \
            CODE_SIGNING_ALLOWED=NO build
